.MainActuality{
    min-height: 250px;
    max-height:100vh;
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    border: 1px solid black;
}

.right{
    min-height:250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 3px 2px 3px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
}
.topAct{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Resume{
    overflow: hidden;
    width: 90%;
    text-align: center;
}
.imgActuality{
    width:80px;
    height:80px;
}
.TitleActuality{
    font-weight: 800;
    letter-spacing: 1.4px;
    line-height: 1.5rem;
    text-decoration: none;
    color: white;
    max-width: 500px;
    text-align: left;
    font-size: 1.4rem;
}
.TitleActuality:hover{
    text-decoration: underline;
}

.SourceActuality{
    text-transform: capitalize;
    font-weight: 400;
}
.infoActuality{
    min-height: 100px ;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}
.SourceActuality{
    align-self: flex-start;
}
.Resume{
    text-align: left;
    align-self: flex-start;
}
.TitleActualityBot{
    font-weight: 800;
    letter-spacing: 1.1px;
    text-decoration: none;
    color: white;
    text-align: center;
    border: 1px solid white;
    max-width: 100px;
    border-radius: 10px;
    animation: all .5s ease-in;
    background-color: transparent;
}
.TitleActualityBot:hover{
    background-color: black;
    color: white;
    border-color: black;
}