.MainActuality{
    min-height: 250px;
    max-height:100vh;
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    border: 1px solid black;
}

.right{
    min-height:250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 2px 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
}
.topAct{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Resume{
    overflow: hidden;
    width: 90%;
    text-align: center;
}
.imgActuality{
    width:50px;
    height:50px;
}
.TitleActuality{
    font-weight: 800;
    letter-spacing: 1.4px;
    line-height: 1.5rem;
    text-decoration: none;
    color: white;
}
.TitleActuality:hover{
    text-decoration: underline;
}

.SourceActuality{
    text-transform: capitalize;
}
.infoActuality{
    min-height: 100px ;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}
.SourceActuality{
    align-self: flex-end;
}
.Resume{
    text-align: right;
    align-self: flex-end;
}
